

*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: aqua;
    height: 100px;
}

header{
    background-color: blue;
    height: 300px;
}
main{
    background-color: yellow;
    height: 500px;
}

main div{
    width: 200px;
    height: 200px;
    background-color: rebeccapurple;
}

footer{
    background-color: chocolate;
    height: 300px;
}
/* ------------------------------------- */

nav{
    position: sticky;
    top: 0;
    text-shadow:  30px 20px 6px red;
    font-size: 30px;
    transform: skew(-20deg);
}

.whatsapp{
    position: fixed;

    height: 100px;
    width: 100px;
    background-color: orange;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    margin: 1em;

    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 20px 40px -20px black;
    cursor: pointer;
    transition: background-color  0.3s;
}

.whatsapp:hover{
    background-color: orangered;
        transform: scale(1.5);
        text-shadow: 0 0 10px green;
}

main{
    position: relative;
}

#bloque-especial{
    position: absolute;
    bottom: 0;
}

nav{
    transition: color .2s;
}

nav:hover{
    color:red;

}

#globo>div{
    background-color: blue;
    height: 100px;
    width: 100px;
    margin-bottom: 1em;
}

#globo>div:nth-child(13){
    background-color: red;
    
}
nav p {
    animation: subir-bajar 2s infinite;
}

#gatos{
    animation: color 2s infinite;
    animation: rotar 2s infinite;
    width: 200px;
}
#corazon{
    width: 100px;
    animation: cora 2.5s infinite;
}

@keyframes subir-bajar {
    0%{
        color: red;
        transform: scale(1);
    }   
    50%{
        transform: scale(1.5);
    }
    100%{
        color: blue;
        transform: scale(1);
    } 
}

@keyframes color {

    0%{
        filter: none;
        transform: scale(1)
    }
    50%{
        filter: sepia(100%);
        transform: scale(1.5);
    }
    100%{
        filter: none;
        transform: scale(1);
    }
    
}

@keyframes cora {

    0%{
        transform: scale(1)
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
    
}

@keyframes rotar {
    0&{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}